$icon-font-path: "/fonts/";
$brand-primary: #ff5151;
$brand-secondary: #ffa9a9;
$marker-ball-size: 40px;
$navbar-height: 60px;

// legacy
$body-bg-desktop: #ededed;

$btn-primary-color: $brand-primary;
$btn-primary-bg: white;
$btn-primary-border: $brand-primary;

// bower:scss
@import "_bootstrap.scss";
@import "inc/_navbar.scss";
@import "inc/_splash.scss";
@import "inc/_steps.scss";
// endbower

html {
  height: 100%;
  overflow: auto;
}

body, .application-view {
  height: 100%;
}

.wrapper-content {
  background: white;
  // min-height: 100%;
  padding-top: $navbar-height;
}

.btn-primary {
  @include transition(all linear 0.1s);

  border-width: 2px;

  &:hover {
    background: white;
  }

  @media (min-width: $screen-md-min) {
    &:hover {
      background: $brand-primary;
      border-color: $brand-primary;
      color: white;
    }
  }

  &:active, &:focus {
    @include box-shadow(none);
    background: white;
  }
}

.btn-large {
  border-radius: 12px;
  font-size: 18px;
  padding: 20px;
  width: 100%;
}

/*
 * Layout with sidebar, divided by vertical border.
 *
 * This layout selectively uses `display: table` to achieve equal column height
 * in order for the border to work. This means old mark-up still works, but
 * it's a bit of a hack. Alternatives: Flexbox, "background image"...
 */
.wrapper-with-sidebar {
  @include make-row();
  padding-top: $line-height-computed;

  h2 {
    font-size: $font-size-h4;
    line-height: $line-height-base;
    margin: $line-height-computed 0;
    padding: 0 $padding-base-horizontal;
  }

  .wrapper-sidebar {
    @include make-sm-column(4);

    .affix {
      top: 80px;
      height: 80%;
      overflow-y: scroll;
    }
  }

  .wrapper-main {
    @include make-sm-column(8);

    padding-bottom: 2 * $line-height-computed;
  }

  @media (min-width: $screen-sm-min) {
    display: table;
    height: 100%;
    padding-top: 2 * $line-height-computed;

    .wrapper-sidebar, .wrapper-main {
      height: 100%;
      display: table-cell;
      float: none;
      vertical-align: top;
    }

    .wrapper-sidebar {
      border-right: 1px solid #ccc;
    }

    .wrapper-main {
      padding-left: 45px;
      padding-top: 0.5 * $line-height-computed;
    }
  }
}

.wrapper-sidebar .affix {
  @media (min-width: $screen-sm-min) { width: 217px; }
  @media (min-width: $screen-md-min) { width: 291px; }
  @media (min-width: $screen-lg-min) { width: 357px; }
}

/*
 * A page that only displays a list of steps as boxes (buttons)
 */
.wrapper-steps {
  @include make-row();
  $step-size: 110px;

  text-align: center;

  .step-wrapper {
    text-align: center;
  }

  .step-node {
    height: $step-size;
    width: $step-size;
    background: white;
    color: $brand-primary;

    border: 2px solid $brand-primary;
    border-radius: $step-size / 2;
    font-size: $font-size-base;
    font-weight: $headings-font-weight;
    display: inline-block;
    margin: 0 (10px);
    margin-bottom: $line-height-computed;
    padding: ((($step-size - $line-height-computed) / 2) 0);
    text-align: center;

    &:hover { text-decoration: none; }
  }

  @media (min-width: 480px) and (max-width: $screen-xs-max) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $screen-md-min) {
    .step-node:hover {
      border-color: $brand-primary;
      color: white;
      background: $brand-primary;
      text-decoration: none;
    }
  }
}

.wrapper-footer {
  background: white;
  border-top: 1px solid #ccc;
  padding-top: 2 * $line-height-computed;
  padding-bottom: 2* $line-height-computed;
  margin-top: 3 * $line-height-computed;
  text-align: center;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li { padding: ($line-height-computed / 2) 0; }
  }

  a {
    color: #aaa;
  }

  .col {
    &:last-child { border-right: none; }
  }

  img {
    height: 3 * $line-height-computed;
  }
}

/*
 * The header for an entire page, displayed above any content in its own
 * row.
 */
header.page {
  // margin: 0 (-$grid-gutter-width / 2);
  padding: $line-height-computed $padding-base-horizontal;

  h1 {
    font-size: $font-size-h4;
    line-height: $line-height-base;
    margin: $line-height-computed 0;
    padding: 0;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      font-size: $font-size-h1;
    }
  }
}

h2.pathfinder {
  overflow: auto;

  span.glyphicon, span.text {
    display: block;
    float: left;
    width: 10%;
  }

  span.text {
    color: $text-color;
    width: 90%;
  }
}

/*
 * Sidebar social media
 */
.social {
  border: 1px solid #ccc;
  border-width: 1px 0 0;

  margin: 0 (-$grid-gutter-width / 2) 0;
  padding: (2 * $line-height-computed) 0;
  text-align: center;

  img {
    height: 2 * $line-height-computed;
    margin: 0 (1 * $padding-base-horizontal);
  }
}

/*
 * Box article
 *
 * Any content can be in a box
 */
.box {
  border: 1px solid white;
  margin-bottom: $line-height-computed;
  padding: $padding-base-horizontal;

  h1 {
    border-bottom: 1px solid white;
    font-size: $font-size-large;
    padding: 0 0 $line-height-computed;
    margin: 0;
  }

  .read-more {
    margin-bottom: 0;

    a {
      border-top: 1px solid #ccc;
      display: block;
      margin: 0 (-$padding-base-horizontal) (-$padding-base-horizontal);
      padding: ($line-height-computed / 2) 0;
      text-align: center;

      &:hover {
        color: white;
        background: $brand-primary;
        text-decoration: none;
      }
    }
  }
}

/*
 * Text page
 */
.page-text {
  h2 {
    font-size: $font-size-base;
    margin: 0 0 0.5 * $line-height-computed;
    padding: 0;
  }

  h1 {
    font-size: $font-size-h4;
    margin: (2 * $line-height-computed) 0 (0.5 * $line-height-computed);
    padding: 0;
  }

  p {
    margin-bottom: 1.5 * $line-height-computed;
  }

  img { max-width: 100%; }

  .two-split {
    .col-sm-6 {
      float: none;
      padding: 0 (2 * $padding-base-horizontal) $line-height-computed;
    }

    @media (min-width: $screen-sm-min) {
      display: table;

      .col-sm-6 {
        display: table-cell;
        vertical-align: middle;
        padding-top: $line-height-computed (3 * $padding-base-horizontal);
      }

      .first {
        border-right: 1px solid #ccc;
        text-align: right;
      }
    }
  }

  dl {
    dd { margin-bottom: $line-height-computed; }
  }
}

.lvl3 h3 {
  font-size: 16px;
  font-weight: normal;
  padding: $line-height-computed $padding-base-horizontal 0;
}

/*
 * Video Article
 */
article.video {
  margin-bottom: 2 * $line-height-computed;

  h1 {
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
  }
}

footer {
  font-size: $font-size-small;
  margin-top: $line-height-computed;
}

.share-links {
  margin-top: $line-height-computed;

  .text {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
  }

  a.share {
    border-radius: $marker-ball-size / 2;
    display: inline-block;
    border: 2px solid $brand-primary;
    margin-left: 10px;
    height: $marker-ball-size;
    width: $marker-ball-size;
    padding-top: 9px;
    vertical-align: middle;
    text-align: center;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
