<article class="box video">
  <h1>{{node.name}}</h1>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{node.content}}?rel=0" allowfullscreen></iframe>
  </div>
</article>
