<article class="box video">
  <h1>{{node.marker}} {{node.name}}</h1>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{node.content}}?rel=0" allowfullscreen></iframe>
  </div>

  <footer>
    <div class="share-links text-right">
      <a href="http://twitter.com" class="share"><img src="images/share-twitter.png" alt="Twitter"></a>
      <a href="http://facebook.com" class="share"><img src="images/share-facebook.png" alt="Twitter"></a>
      <a href="http://gmail.com" class="share"><img src="images/share-email.png" alt="Twitter"></a>
    </div>
  </footer>
</article>
