<article class="box video">
  <h1>{{node.marker}} {{node.name}}</h1>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{node.attrs.youtube}}?rel=0" allowfullscreen></iframe>
  </div>

  <footer>
    <p class="text-right">
      <a href="{{node.pdfUrl}}" target="_blank">Ladda ner som PDF</a>
    </p>
  </footer>
</article>
