<h2 class="visible-xs pathfinder">
  {{#link-to 'nodes.lvl0' model.parent.parent.id class="up"}}<span class="glyphicon glyphicon-chevron-left"></span>{{/link-to}}
  <span class="text">{{model.marker}} {{model.name}}</span>
</h2>

{{#each node in model.children}}
  {{component node.componentName node=node}}
{{/each}}
