<title>Onlineakademin - gratis läxhjälp i matematik</title>
<div class="container wrapper-content page-text">
  <header class="page">
    <h1>Samarbetspartners</h1>
  </header>

  <div class="row">

    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="row">

        <div class="col-xs-12 col-md-6 text-center">
          <div class="top-offset-ekskaret">
              <p><img src="images/sponsors/Ekskaret.svart.jpg" alt="Ekskaret"></p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 text-center">
          <div class="top-offset">
            <p><img src="images/sponsors/Mattecentrum.svart.250.png" alt="Mattecentrum"></p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 text-center">
            <p><img src="images/sponsors/rite.png" alt="Rite Ventures" height="160"></p>
        </div>

        <div class="col-xs-12 col-md-6 text-center">
          <p><img src="images/sponsors/sse.png" alt="Handelshögskolan i Stockholm" height="160"></p>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
      <div class="top-offset">
        <p>
          Tack till Stiftelsen Ekskäret för att vi genom er delaktighet och ert ekonomiska bidrag kunnat engagera de pedagoger som medverkar i våra videor.<br>
          Tack Rite Ventures för ert ekonomiska bidrag.<br>
          Tack Handelshögskolan i Stockholm för vårt akademiska partnerskap.<br>
          Tack till Mattecentrum för er distribution av Onlineakademins videor.<br>
        </p>
        <p>
          Onlineakademin arbetar med Mattecentrum sedan 2016. Samarbetet går ut på att koppla ihop Mattecentrums Matteboken.se med Onlineakademins videor.
          På så sätt bidrar vi till att ge Sveriges elever ett välintegrerat, digitalt utbildningsverktyg som är gratis för alla för alltid.
          Totalt har våra ca <b>225 videor</b> visats <b>355 000 gånger</b> och i <b>920 000 visningsminuter</b> på vår gemensamma kanal.

          Besök gärna vår gemensamma kanal
          <a href='https://www.youtube.com/channel/UCbiXbqrMc8ImrS9TItoSjQw/featured' target="_blank">här</a>.
        </p>
      </div>
    </div>
  </div>
</div>
