<header class="page">
  <h1>Videor</h1>
</header>

<div class="wrapper-steps">
  {{#each node in model}}
    <div class="step-wrapper">
      {{#link-to 'nodes.node' node.id class="step-node"}}{{node.name}}{{/link-to}}
    </div>
  {{/each}}
</div>
