<div class="container wrapper-content">
  <header class="page">
    <h1>Videor</h1>
  </header>

  <div class="wrapper-steps">
    {{#each node in model}}
      {{#link-to 'nodes.lvl0' node.id class="step-node"}}{{node.name}}{{/link-to}}
    {{/each}}
  </div>
</div>
