<div class="container wrapper-content">
  <header class="page">
    <h1>Kurser</h1>
  </header>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="wrapper-steps">
        {{#each node in model}}
          <div class="col-xs-12 col-sm-3">
          {{#link-to 'nodes.lvl0' node.id class="step-node"}}{{node.name}}{{/link-to}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
