<div class="row page-header">
  <div class="col-xs-12">
    <h1 class="node-level-{{model.level}}">
      <span>{{model.name}}</span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="wrapper-content">
    <ol class="boxed">
      {{#each node in model.children}}
        {{view "nodes/box"}}
      {{/each}}
    </ol>
  </div>
</div>

