<div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center hidden-xs" style="padding-top: 40px">
        <img src="/images/logo-grayscale.svg" class="img-responsive" alt="Onlineakademin.se" style="opacity: 0.5">
    </div>
</div>