<div class="container wrapper-content page-text">
    <header class="page">
      <h1>Om Onlineakademin</h1>
    </header>

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              Vi är övertygade om att alla kan lära sig matematik om de ges rätt förutsättningar och verktyg. Utbildning kan alltid bli bättre. Vi vill vara en del av lösningen och därför har vi startat Onlineakademin.

            </p>
            <h1>Vad är Onlineakademin?</h1>
            <p>
                Onlineakademin är en ideell förening som hjälper gymnasieelever att lära sig matematik. På Onlineakademin finns videor som går igenom gymnasisekurserna. Plugga var du vill, när du vill och hur du vill, i ditt eget tempo. Alla elever har sina egna utmaningar, men vi hoppas att Onlineakademin kan hjälpa till oavsett vilka föräldrar eleven har och om det är E eller A som är målet. Onlineakademin är gratis för alla för alltid.
            </p>
            <p>
                Vi ser på Onlineakademin som ett icke-konkurrerande komplement till alla de utbildningsverktyg och -institutioner som finns i dag. Vi hoppas att Onlineakademin kommer att användas av elever, lärare, läxhjälpare, föräldrar, syskon och alla andra som hjälper till med matten.
            </p>

            <h1>Fördelar med Onlineakademin</h1>
            <p>
                <strong>Ett verktyg för alla.</strong> Onlineakademins videor är ett flexibelt sätt att lära sig matematik. Den mentala ribban att titta på en kort film är mycket låg. Därför lämpar sig videoformatet för alla elever, både de som har lätt för matematik och behöver mer utmaning, samt de som tycker att matematik är svårt och behöver extra repetition och stöd.
            </p>
            <p>
                <strong>Studera i egen takt.</strong> I en klassrumsmiljö är det svårt för läraren att tillgodose alla elevers behov. För en del går undervisningen för snabbt och för andra går den för långsamt. Videoformatet gör det möjligt för eleverna att anpassa studietakten genom att pausa, spola tillbaka och se på nytt.
            </p>
            <p>
                <strong>Repetera och fylla igen kunskapsglapp.</strong> För att kunna tillgodogöra sig matematiken på bästa sätt är det viktigt att ha koll på grunderna sedan tidigare. Det kan vara svårt för elever som har kunskapsglapp att fylla igen dessa i klassrummet eftersom många tycker det är pinsamt att fråga om saker som redan har gåtts igenom. Kunskapsglappen är en av orsakerna till att elever halkar efter i undervisningen och därför är det viktigt att eleverna ges möjlighet att repetera tidigare områden. Repetition är även värdefullt under kursens gång, framförallt inför prov. En genomgång på tavlan spelas vanligtvis inte in, men en film på Onlineakademin kommer alltid finnas kvar. Onlineakademin är i detta avseende ett perfekt repetitionsverktyg.
            </p>
            <p>
                <strong>Ett verktyg för lärare.</strong> Vi tror att Onlineakademin kan underlätta för läraren genom att vara ett komplement till de befintliga undervisningsverktygen. Genom att utrusta läraren med ett verktyg utöver läroboken och interaktionen i klassrummet blir undervisningen mer nyanserad och flexibel. Onlineakademin kan till exempel vara användbar då en elev har missat genomgången på lektionen eller halkat efter av andra anledningar. Det är lika relevant att använda Onlineakademin för att utmana elever som ligger långt före resten av klassen. Onlineakademin möjliggör även för lärare att använda sig av flip-the-classroom-baserad undervisning.
            </p>
            <p>
                <strong>På svenska.</strong> Merparten av det högkvalitativa videomaterialet som finns tillgängligt online i dag är inspelat på engelska. Att lära sig matematik är tillräckligt svårt som det är, och försvåras ytterliga om man läser på ett annat språk med nya termer och benämningar. Alla Onlineakademins videor är på svenska.
            </p>
            <p>
                <strong>Enligt svensk läroplan.</strong> Onlineakademin följer den svenska läroplanen, vilket gör det lätt för elever att använda sig av och navigera i materialet.
            </p>
            <p>
                <strong>Gratis för alla för alltid.</strong> Onlineakademin är en ideell förening. Vi lovar att våra videor alltid kommer vara tillgängliga och gratis för alla. Detta löfte kan vi göra eftersom vi har fått extern finansiering för att ta fram videorna och bygga onlineakademin.se. Och nu när videorna väl finns kan de tillhandahållas online i princip kostnadsfritt. Därför vågar vi lova att Onlineakademin är gratis för alla för alltid.
            </p>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <p>{{#link-to "om.contact" class="btn btn-primary btn-large"}}Kontakt{{/link-to}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
