<div class="container wrapper-content page-text">
  <header class="page">
    <h1>Kontakt</h1>
  </header>

  <div class="row divvy">
    <div class="col-sm-6 first text-right">
      <dl>
        <dt>Patrik Tran, Akademiskt ansvarig</dt>
        <dd>
          patrik@onlineakademin.se<br>
          073-532 81 48
        </dd>

        <dt>Johan Thomas, Verksamhetsansvarig</dt>
        <dd>
          johan@onlineakademin.se<br>
          073-505 22 89
        </dd>

        <dt>Nikolai Langguth, Ekonomiansvarig</dt>
        <dd>
          nikolai@onlineakademin.se<br>
          076-901 74 59
        </dd>
      </dl>
    </div>

    <div class="col-sm-6">
      <dl>
        <dt>Media</dt>
        <dd>media@onlineakademin.se</dd>

        <dt>Bidrag</dt>
        <dd>bidra@onlineakademin.se</dd>

        <dt>Feedback: </dt>
        <dd>feedback@onlineakademin.se</dd>

        <dt>Allt annat: </dt>
        <dd>info@onlineakademin.se</dd>
      </dl>
    </div>
  </div>
</div>
