<div class="container wrapper-content page-text">
  <header class="page">
    <h1>Kontakt</h1>
  </header>

  <div class="row two-split" style="width: 100%">
    <div class="col-sm-6 first">
      <dl>
        <dt>Patrik Tran</dt>
        <dd>
          <a href="mailto:patrik@onlineakademin.se">patrik@onlineakademin.se</a><br>
          <a href="tel:+46735328148">073-532 81 48</a>
        </dd>

        <dt>Anton Svensson</dt>
        <dd>
          <a href="mailto:anton@onlineakademin.se">anton@onlineakademin.se</a><br>
          <a href="tel:+46709234378">070-9234378</a>
        </dd>

        <dt>Nikolai Langguth</dt>
        <dd>
          <a href="mailto:nikolai@onlineakademin.se">nikolai@onlineakademin.se</a><br>
          <a href="tel:+46769017459">076-901 74 59</a>
        </dd>
      </dl>
    </div>

    <div class="col-sm-6">
      <dl>
        <dt>Media</dt>
        <dd><a href="mailto:media@onlineakademin.se">media@onlineakademin.se</a></dd>

        <dt>Bidrag</dt>
        <dd><a href="mailto:bidra@onlineakademin.se">bidra@onlineakademin.se</a></dd>

        <dt>Feedback: </dt>
        <dd><a href="mailto:feedback@onlineakademin.se">feedback@onlineakademin.se</a></dd>

        <dt>Allt annat: </dt>
        <dd><a href="mailto:info@onlineakademin.se">info@onlineakademin.se</a></dd>
      </dl>
    </div>
  </div>
</div>
