<div class="container wrapper-content page-text">
  <header class="page">
    <h1>Bidra</h1>
  </header>

  <div class="row divvy">
    <div class="col-sm-6 first">
      <p>
        Onlieakademin är en ideell förening och vi är beroende av ditt bidrag för att bedriva vår verksamhet. Din gåva förbättrar förutsättningarna för Sveriges ungdomar att lära sig matematik. 
        Vi är tacksamma för alla bidrag, stora som små. Vill du bidra på andra sätt är du välkommen att skicka ett mail till bidra@onlineakademin.se.
      </p>
    </div>

    <div class="col-sm-6 text-right">
      <p>Bankgiro: 123 - 4445555</p>
      <p>Swish: 070 123 4565</p>
    </div>
  </div>
</div>
