<div class="container wrapper-content page-text">
  <header class="page">
    <h1>Bidra</h1>
  </header>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-center" style="margin-bottom: 30px">
          <p style="margin-bottom: 10px"><img src="/images/sponsors/contribute-bgc.png" alt="Bankgiro"></p>
          <p><a href="callto:5898788" class="btn btn-primary"><strong>589-8788</strong></a></p>
        </div>

        <div class="col-xs-12 col-sm-6 text-center" style="margin-bottom: 30px">
          <p style="margin-bottom: 10px"><img src="/images/sponsors/contribute-swish.png" alt="Swish"></p>
          <p><a href="callto:1231223882" class="btn btn-primary"><strong>123 - 122 38 82</strong></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
      <p>
        Onlieakademin är en ideell förening och är gratis för alla för alltid. Därför är vi beroende av ditt bidrag för att bedriva vår verksamhet. Vi är tacksamma för alla bidrag, stora som små. Vill du bidra på andra sätt är du välkommen att skicka ett mail till <a href='mailto:bidra@onlineakademin.se'>bidra@onlineakademin.se</a>.
      </p>
    </div>
  </div>
</div>
