<div class="container wrapper-content page-text">
  <header class="page">
    <h1>Bidra</h1>
  </header>

  <div class="row two-split">
    <div class="col-sm-6 first">
      <p>
        Onlieakademin är en ideell förening och vi är beroende av ditt bidrag för att bedriva vår verksamhet. Din gåva förbättrar förutsättningarna för Sveriges ungdomar att lära sig matematik. 
        Vi är tacksamma för alla bidrag, stora som små. Vill du bidra på andra sätt är du välkommen att skicka ett mail till bidra@onlineakademin.se.
      </p>
    </div>

    <div class="col-sm-6 text-center">
      <div class="row">
        <div class="col-xs-6">
          <p><img src="/images/sponsors/contribute-bgc.png" alt="Bankgiro"></p>
          <p>Bankgiro: 546-0102</p>
        </div>
        <div class="col-xs-6">
          <p><img src="/images/sponsors/contribute-swish.png" alt="Swish"></p>
          <p>Swish: 123 - 111 11 11</p>
        </div>
      </div>
    </div>
  </div>
</div>
