<div class="container wrapper-content page-text">
    <header class="page">
      <h1>Om grundarna</h1>
    </header>

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
                Vi är övertygade om att alla kan lära sig matematik om de ges rätt förutsättningar och verktyg. Utbildning kan alltid bli bättre. Vi vill vara en del av lösningen och därför har vi startat Onlineakademin.
            </p>

            <p class="text-center">
                <p>
                    <img src="/images/founders.jpg" alt="Johan Thomas, Patrik Tran, och Nikolai Langguth" class="img-responsive center-block"><br>
                    <span style="font-style: italic">Johan Thomas, Patrik Tran, och Nikolai Langguth</span>
                </p>
            </p>

            <h2>Vilka är vi?</h2>
            
            <p><strong>Patrik Tran</strong> tog studenten från gymnasiet som 16-åring och tog examen från Handelshögskolan i Stockholm som kursetta år 2014. Patrik står för projektets akademiska och pedagogiska tyngd med sina erfarenheter från matematikstudier vid Lunds Universitet, KTH och HHS. Ännu viktigare är de erfarenheter han har från interaktioner med studenter i samband med hans föreläsningar på HHS, föreläsningar om studieteknik och motivation för gymnasieungdomar och lärare samt mentorskap för både gymnasie- och universitetsstudenter.</p>
            <p><strong>Johan Thomas</strong> är verksamhetansvarig för Onlineakademin. Han håller på att bli klar med sin Bachelor i Teknisk Fysik från Uppsala Universitet. Johan har suttit som ordförande för utbildningsutskottet på teknisk fysik-programmet, samt varit anställd av programledningen för att jobba med utvärdering och utveckling av kurser. Johan har även arbetat som extralärare i matematik och fysik under studietiden.</p>
            <p><strong>Nikolai Langguth</strong> är ekonomiansvarig. Han har en Bachelor i finans och redovisning från Handelshögskolan i Stockholm, och har med sig erfarenheter från Handelshögskolans Ungdomsakademi år 2013 samt arbete med läxhjälp för funktionshindrade barn i Norge.</p>
        </div>
    </div>
</div>
