<div class="container wrapper-content page-text">
    <header class="page">
      <h1>Om oss</h1>
    </header>

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h2>Vad driver oss?</h2>
            <p>Vi jobbar utifrån tron att alla kan lära sig matematik om de ges rätt förutsättningar och verktyg. Här brister till viss del undervisningen idag. Vi vill vara en del av lösningen och därför har vi startat Onlineakademin.</p>
            <p>Vi har själva använt videobaserat utbildningsmaterial under i våra universitetsstudier, framförallt Khan Academy, en ideell organisation baserad i USA som är världesledande på videobaserat utbildningsmaterail. Detta har varit en stor hjälp för oss och vi har själva sett att videoformatet fungerar väldigt bra för att lära ut matematik. </p>
            <p>Likt Kahn Academy ville vi skape en platform med komplett, onlinebaserat videomaterial som följer läroplanen i den svenska Grundskolan. Vi har sett vilken otrolig resurs Khan Academy har varit för miljontals engelsktalande elever världen över. Vår ambition är att skapa ett sådant verktyg för den svenska skolan och svaret på detta är Onlineakademin.</p>

            <h2>Vilka är vi?</h2>
            <p>Patrik Tran tog studenten från gymnasiet som 16-åring och tog examen från Handelshögskolan i’ Stockholm som kursetta år 2014. Patrik står för projektets akademiska och pedagogiska tyngd med sina erfarenheter från matematikstudier vid Lunds Universitet, KTH och HHS. Ännu viktigare är de erfarenheter han har från interaktioner med studenter i samband med hans föreläsningar på HHS, föreläsningar om studieteknik och motivation för gymnasieungdomar och lärare samt mentorskap för både gymnasie- och universitetsstudenter.</p>
            <p>Johan Thomas är projektledare för Onlineakademin. Han håller på att bli klar med sin Bachelor i Teknisk Fysik från Uppsala Universitet. Johan har suttit som ordförande för utbildningsutskottet på teknisk fysik-programmet, samt varit anställd av programledningen för att jobba med utvärdering och utveckling av kurser. Johan har även arbetat som extralärare i matematik och fysik under studietiden och under 2013/2014 spenderade ett år i New York på företaget Universum Global.</p>
            <p>Nikolai Langguth delar projektledarrollen med Johan. Han har en Bachelor i finans och redovisning från Handelshögskolan i Stockholm, och har relevanta erfarenheter från Handelshögskolans Ungdomsakademi år 2013 samt arbete med läxhjälp för funktionshindrade barn i Norge. Nikolai har också bred erfarenhet från att starta och driva igenom projekt, båda som projektledare och egenföretagare.</p>
        </div>
    </div>
</div>
