<div class="container wrapper-content page-text">
    <header class="page">
      <h1>Om oss</h1>
    </header>

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h2>Vad är Onlineakademin?</h2>

            <p>
                Onlineakademin är en ideell organisation som hjälper gymnasieelever att lära sig matematik. Vår idé är enkel. Vi tillhandahåller pedagogiskt videomaterial som går igenom matematisk teori och räkneexempel på en digital black board. Materialet täcker in alla mattekurser på gymnasiet, är
                kostnadsfritt och tillgängligt för alla.
            </p>

            <h2>Varför behövs Onlineakademin?</h2>
            <p>
                Vi ser att många elever idag söker hjälp online och att detta i allt större utsträckning används som ett komplement till undervisningen i skolan. Trots en stor efterfrågan finns en brist på online-baserat, kvalitetssäkrat utbildningsmaterial som är komplett i förhållande till den svenska skolans läroplan. Onlineakademin ger alla elever i Sverige tillgång till högkvalitativt och väl genomarbetat utbildningsmaterial.
            </p>

            <h1>Våra styrkor</h1>

            <h2>Ett verktyg för alla</h2>
            <p>
                Onlineakademins videor är ett lättsamt sätt för ungdomar att lära sig matematik. Den mentala ribban att titta på en kort film är också betydligt lägre än att till exempel läsa teori i matteboken. Därför lämpar sig videoformatet för alla elever, både de som har lätt för matematik och behöver mer utmaning, samt de som tycker att matematik är svårt och behöver extra repetition och stöd. För att göra materialet så lättillgängligt som möjligt är Onlineakademin anpassat för både telefon, läsplatta och dator.
            </p>

            <h2>Studera i egen takt</h2>
            <p>
                I en klassrumsmiljö är det svårt för läraren att tillgodose alla elevers behov. För en del går undervisningen för snabbt och för andra går den för långsamt. Videoformatet gör det möjligt för eleverna att anpassa studietakten genom att pausa, spola tillbaka och se på nytt.
            </p>

            <h2>Repetera och fylla igen kunskapsglapp</h2>
            <p>
                För att kunna tillgodogöra sig matematiken på bästa sätt är det viktigt att ha koll på grunderna sedan tidigare. Det kan vara svårt för elever som har kunskapsglapp att fylla igen dessa i klassrummet eftersom många tycker det är pinsamt att fråga om saker som redan har gåtts igenom. Kunskapsglappen är vidare en av orsakerna till att elever halkar efter i undervisningen och därför är det viktigt att eleverna ges möjlighet att repetera tidigare områden. Repetition är även värdefullt under kursens gång, framförallt inför prov. En genomgång på tavlan spelas vanligtvis inte spelas in, men en film på Onlineakademin kommer alltid finnas kvar. Onlineakademin är i detta avseende ett perfekt repetitionsverktyg. 
            </p>

            <h2>Ett verktyg för lärare</h2>
            <p>
                Vi tror att Onlineakademin kan underlätta för läraren genom att vara ett komplement till de befintliga undervisningsverktygen. Genom att utrusta läraren med ett verktyg utöver läroboken och interaktionen i klassrummet blir undervisningen mer nyanserad och flexibel. Onlineakademin kan till exempel vara användbart då en elev har missat genomgången på lektionen eller halkat efterav andra anledningar. Onlineakademin möjliggör även för lärare att använda sig av flip-the-classroom-baserad undervisning.
            </p>

            <h2>På svenska</h2>
            <p>
                Merparten av det högkvalitativa videomaterialet som finns online i dag är inspelat på engelska. Att lära sig matematik är tillräckligt svårt som det är, och försvåras ytterliga om man läser på ett annat språk med nya termer och benämningar. Därför tror vi att det finns ett stort värde i att tillhandahålla utbildningsmaterial på svenska.
            </p>

            <h2>Enligt svensk läroplan</h2>
            <p>
                Onlineakademin följer den svenska läroplanen, vilket även gör det lättare för elever att använda sig av och navigera i materialet.
            </p>

            <p class="text-center">
                {{#link-to "about.founders" class="btn btn-default"}}Mer om grundarna{{/link-to}}
                {{#link-to "about.contact" class="btn btn-default"}}Kontakt{{/link-to}}
            </p>

        </div>
    </div>
</div>
