<div class="container wrapper-content page-text">
    <header class="page">
      <h1>"Om Onlineakademin" har flyttat till <a href="http://www.onlineakademin.se/om">onlineakademin.se/om</a></h1>
    </header>
</div>
