<div class="container wrapper-content page-text">
  <header class="page">
    <h1>Samarbetspartners</h1>
  </header>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-xs-12 col-md-4 text-center">
          <p><img src="images/sponsors/rite.png" alt="Rite Ventures" height="140"></p>
        </div>

        <div class="col-xs-12 col-md-4 text-center">
          <p><img src="images/sponsors/sse.png" alt="Handelshögskolan i Stockholm" height="140"></p>
        </div>

        <div class="col-xs-12 col-md-4 text-center">
          <p><img src="images/sponsors/bbrt.png" alt="Baumgarten, Byström, Root &amp; Tallavaa" height="140"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
      <p>
        Dessa hjältar har gjort det möjligt för Onlineakademin att bli verklighet.<br>
        Tack Rite Ventures för ert ekonomiska bidrag.<br>
        Tack Handelshögskolan i Stockholm för vårt akademiska partnerskap.<br>
        Tack Baumgarten, Byström, Rooth &amp; Tallavaara för er juridiska rådgivning.
      </p>
    </div>
  </div>
</div>
