<header class="page">
  <h1>Om Onlineakademin</h1>
</header>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center logo" style="padding-top: 20px">
      <img src="images/logo-grayscale.svg" alt="Onlineakademins logotyp" height="150">
    </div>

    <h2>Vad är Onlineakademin?</h2>

    <p>Onlineakademin är en ideell organisation som hjälper gymnasieelever att lära sig matematik.</p>
    <p>Vår idé är enkel. Vi tillhandahåller pedagogiskt videomaterial som går igenom matematisk teori och räkneexempel på en digital black board. Materialet täcker in alla mattekurser på gymnasiet, är kostnadsfritt och tillgängligt för alla.</p>

    <h2>Varför behövs Onlineakademin?</h2>

    <p>Vi ser att många elever idag söker hjälp online och att detta i allt större utsträckning används som ett komplement till undervisningen i skolan. Trots en stor efterfrågan finns en brist på online-baserat, kvalitetssäkrat utbildningsmaterial som är komplett i förhållande till den svenska skolans läroplan. Onlineakademin ger alla elever i Sverige tillgång till högkvalitativt och väl genomarbetat utbildningsmaterial.</p>

    <h2>Fördelar med Onlineakademin</h2>

    <h3>Ett verktyg för alla</h3>
    <p>Onlineakademins videor är ett lättsamt sätt för ungdomar att lära sig matematik. Den mentala ribban att titta på en kort film är också betydligt lägre än att till exempel läsa teori i matteboken. Därför lämpar sig videoformatet för alla elever, både de som har lätt för matematik och behöver mer utmaning, samt de som tycker att matematik är svårt och behöver extra repetition och stöd. För att göra materialet så lättillgängligt som möjligt är Onlineakademin anpassat för både telefon, läsplatta och dator.</p>

    <h3>Studera i egen takt</h3>
    <p>I en klassrumsmiljö är det svårt för läraren att tillgodose alla elevers behov. För en del går undervisningen för snabbt och för andra går den för långsamt. Videoformatet gör det möjligt för eleverna att anpassa studietakten genom att pausa, spola tillbaka och se på nytt.</p>

    <h3>Repetera och fylla igen kunskapsglapp</h3>
    <p>För att kunna tillgodogöra sig matematiken på bästa sätt är det viktigt att ha koll på grunderna sedan tidigare. Det kan vara svårt för elever som har kunskapsglapp att fylla igen dessa i klassrummet eftersom många tycker det är pinsamt att fråga om saker som redan har gåtts igenom. Kunskapsglappen är vidare en av orsakerna till att elever halkar efter i undervisningen och därför är det viktigt att eleverna ges möjlighet att repetera tidigare områden. Repetition är även värdefullt under kursens gång, framförallt inför prov. En genomgång på tavlan spelas vanligtvis inte spelas in, men en film på Onlineakademin kommer alltid finnas kvar. Onlineakademin är i detta avseende ett perfekt repetitionsverktyg.</p>
    
    <h3>Ett verktyg för lärare</h3>
    <p>Vi tror att Onlineakademin kan underlätta för läraren genom att vara ett komplement till de befintliga undervisningsverktygen. Genom att utrusta läraren med ett verktyg utöver läroboken och interaktionen i klassrummet blir undervisningen mer nyanserad och flexibel. Onlineakademin kan till exempel vara användbart då en elev har missat genomgången på lektionen eller halkat efterav andra anledningar. Onlineakademin möjliggör även för lärare att använda sig av flip-the-classroom-baserad undervisning.</p>
    
    <h3>På svenska</h3>
    <p>Merparten av det högkvalitativa videomaterialet som finns online i dag är inspelat på engelska. Att lära sig matematik är tillräckligt svårt som det är, och försvåras ytterliga om man läser på ett annat språk med nya termer och benämningar. Därför tror vi att det finns ett stort värde i att tillhandahålla utbildningsmaterial på svenska.</p>
    
    <h3>Enligt svensk läroplan</h3>
    <p>Onlineakademin följer den svenska läroplanen, vilket även gör det lättare för elever att använda sig av och navigera i materialet.</p>

    <h2>Om grundarna</h2>

    <p>Vi jobbar utifrån tron att alla kan lära sig matematik om de ges rätt förutsättningar och verktyg. Här brister till viss del undervisningen idag. Vi vill vara en del av lösningen och därför har vi startat Onlineakademin.</p>
    <p>Vi har själva använt videobaserat utbildningsmaterial under i våra universitetsstudier, framförallt Khan Academy, en ideell organisation baserad i USA som är världesledande på videobaserat utbildningsmaterail. Detta har varit en stor hjälp för oss och vi har själva sett att videoformatet fungerar väldigt bra för att lära ut matematik.</p>
    <p>Likt Kahn Academy ville vi skape en platform med komplett, onlinebaserat videomaterial som följer läroplanen i den svenska Grundskolan. Vi har sett vilken otrolig resurs Khan Academy har varit för miljontals engelsktalande elever världen över. Vår ambition är att skapa ett sådant verktyg för den svenska skolan och svaret på detta är Onlineakademin.</p>

    <h2>Vilka är vi?</h2>
    <p>Patrik Tran tog studenten från gymnasiet som 16-åring och tog examen från Handelshögskolan i Stockholm som kursetta år 2014. Patrik står för projektets akademiska och pedagogiska tyngd med sina erfarenheter från matematikstudier vid Lunds Universitet, KTH och HHS. Ännu viktigare är de erfarenheter han har från interaktioner med studenter i samband med hans föreläsningar på HHS, föreläsningar om studieteknik och motivation för gymnasieungdomar och lärare samt mentorskap för både gymnasie- och universitetsstudenter.</p>
    <p>Johan Thomas är projektledare för Onlineakademin. Han håller på att bli klar med sin Bachelor i Teknisk Fysik från Uppsala Universitet. Johan har suttit som ordförande för utbildningsutskottet på teknisk fysik-programmet, samt varit anställd av programledningen för att jobba med utvärdering och utveckling av kurser. Johan har även arbetat som extralärare i matematik och fysik under studietiden och under 2013/2014 spenderade ett år i New York på företaget Universum Global.</p>
    <p>Nikolai Langguth delar projektledarrollen med Johan. Han har en Bachelor i finans och redovisning från Handelshögskolan i Stockholm, och har relevanta erfarenheter från Handelshögskolans Ungdomsakademi år 2013 samt arbete med läxhjälp för funktionshindrade barn i Norge. Nikolai har också bred erfarenhet från att starta och driva igenom projekt, båda som projektledare och egenföretagare.</p>
  </div>
</div>
