<div class="menu-dropdown {{if view.menuVisible 'expanded' 'not-expanded'}}">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li><a href="#">Om Onlineakademin</a></li>
          <li><a href="#">Videor</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><a href="#">Bidra</a></li>
          <li><a href="#">Våra sponsorer</a></li>
        </ul>
      </div>
      <div class="col-md-3 last-ul">
        <ul>
          <li><a href="#">Kontakt</a></li>
          <li><a href="#">Om grundarna</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-social">
        <div class="social">
          <img src="images/social-youtube.svg" alt="YouTube">
          <img src="images/social-facebook.svg" alt="Facebook">
          <img src="images/social-twitter.svg" alt="Twitter">
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2">
        {{#link-to 'index'}}<img src="/images/menu-home.svg"> <span>Onlineakademin</span>{{/link-to}}
      </div>

      <div class="col-xs-4 col-sm-3 col-md-2">
        {{#link-to 'nodes'}}<img src="/images/menu-videos.svg"> <span>Videor</span>{{/link-to}}
      </div>

      <div class="col-xs-4 col-sm-6 col-md-8">
        <a {{action 'toggleMenu' target=view}}><span class="glyphicon glyphicon-menu-hamburger"></span></a>
      </div>
    </div>
  </div>
</nav>

<div class="overlay" {{action 'closeMenu' target=view}}></div>

<div class="container wrapper-content">
  {{outlet}}
</div>

<footer class="container wrapper-footer">
  <div class="row">
    <div class="col col-sm-4">
      <ul>
        <li><a href="#">Om Onlineakademin</a></li>
        <li><a href="#">Videor</a></li>
      </ul>
    </div>
    <div class="col col-sm-4">
      <ul>
        <li><a href="#">Bidra</a></li>
        <li><a href="#">Våra sponsorer</a></li>
      </ul>
    </div>
    <div class="col col-sm-4">
      <ul>
        <li><a href="#">Kontakta oss</a></li>
        <li><a href="#">Om grundarna</a></li>
      </ul>
    </div>
  </div>
</footer>
