<div class="wrapper-frontpage">

<div class="row">
  <div class="col-md-6">
    <div class="box">
      <h2>Vad är Onlineakademin?</h2>
      <div class="center-block">
        <img src="images/logo-grayscale.svg" alt="Onlineakademins logotyp" height="200">
      </div>
      <p>OnlineAkademin hjälper elever på gymnasiet att lära sig matematik.</p>
      <div class="btn-block-w">
        <a class="btn btn-primary btn-block" href="#" role="button">Läs mer om oss</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box">
      <h2>Se en exempelvideo</h2>
      <div class="btn-block-w">
        <a class="btn btn-primary btn-block" href="#" role="button">Gå till videosida</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="box">
      <h2>Bidra</h2>
      <div class="center-block">
        <img src="images/logo-grayscale.svg" alt="Onlineakademins logotyp" height="200">
      </div>
      <p>Delar du samma drivkraft som oss? Då tror vi att du också kan hjälpa till.</p>
      <div class="btn-block-w">
        <a class="btn btn-primary btn-block" href="#" role="button">Läs mer om hur kan bidra</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box">
      <h2>Våra sponsorer</h2>
      <p>Dessa hjältar har genom sina ekonomiska bidrag gjort det möjligt för Onlineakademin att bli verklighet.</p>
    </div>
  </div>
</div>

</div>
