<section class="splash-page">
  <article id="intro" class="splash-panel">
    <div class="splash-panel-content">
      <h1 class="splash-panel-title">Hej, vi är Onlineakademin.</h1>
      <h2>
        En ideell förening som<br>
        hjälper gymnasieelever att<br>
        lära sig matematik.
      </h2>
    </div>
    <div class="splash-panel-continue">
      {{#smooth-scroll href="#splash-video" offset="-60"}}
        Läs mer<br>
        <span class="glyphicon glyphicon-menu-down"></span>
      {{/smooth-scroll}}
    </div>
  </article>
</section>

<article id="splash-video">
  <div class="video-wrapper">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
    </div>
  </div>
</article>

<article id="splash-text">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>Vår idé är enkel.</h1>

        <p>
          Vi tillhandahåller pedagogiskt videomaterial som går igenom
          matematisk teori och räkneexempel på en digital black board. 
        </p>

        <p>
          Materialet täcker in alla mattekurser på gymnasiet och är
          kostnadsfritt och tillgängligt för alla.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="get-started">
          {{#link-to 'nodes'}}
            Kom igång nu
          {{/link-to}}
        </div>
      </div>
    </div>

    <div class="buttons row">
      <div class="col-sm-4 col-sm-offset-2">{{#link-to 'about'}}Läs mer om oss{{/link-to}}</div>
      <div class="col-sm-4">{{#link-to 'about.contribute'}}Bidra{{/link-to}}</div>
    </div>
  </div>
</article>
