<div class="wrapper-frontpage">

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <article class="box" id="welcome">
      <h1>Om Onlineakademin</h1>
      <div class="logo">
        <img src="images/logo-grayscale.svg" alt="Onlineakademins logotyp" height="150">
      </div>
      <p>Onlineakademin är en ideell organisation som hjälper gymnasieelever att lära sig matematik.</p>
      <p>
        Vår idé är enkel. Vi tillhandahåller pedagogiskt videomaterial som går
        igenom matematisk teori och räkneexempel på en digital black board.
        Materialet täcker in alla mattekurser på gymnasiet, är kostnadsfritt
        och tillgängligt för alla.
      </p>
      <p class="read-more">
        {{#link-to "about"}}Läs mer om oss{{/link-to}}
      </p>
    </article>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <article class="video box" id="example-video">
      <h1>Se en exempelvideo</h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/s8GjDRT2MI0?rel=0" allowfullscreen></iframe>
      </div>
    </article>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <article class="box" id="sponsors">
      <h1>Sponsorer</h1>
      <div class="sponsors-logos">
        <img src="images/sponsors/rite.png" alt="Rite Ventures">
        <img src="images/sponsors/sse.png" alt="Handelshögskolan i Stockholm">
        <img src="images/sponsors/bbrt.png" alt="Baumgarten, Byström, Root &amp; Tallavaara">
      </div>
      <p>Dessa hjältar har gjort det möjligt för Onlineakademin att bli verklighet.</p>
      <p>Tack Rite Ventures för ert ekonomiska bidrag.</p>
      <p>Tack Handelshögskolan i Stockholm för vårt akademiska partnerskap.</p>
      <p>Tack Baumgarten, Byström, Rooth &amp; Tallavaara för er juridiska rådgivning.</p>
    </article>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <article class="box" id="contribute">
      <h1>Bidra</h1>
      <div class="row">
        <div class="col-sm-12">
          <div class="contribute-icon">
            <img src="images/icon-contribute.svg" alt="Bidra till Onlineakademin" height="150">
          </div>
        </div>
        <div class="col-sm-6">
          

          <p>Onlieakademin är en ideell förening och vi är beroende av ditt bidrag för att bedriva vår verksamhet. Din gåva förbättrar förutsättningarna för Sveriges ungdomar att lära sig matematik.</p>
          <p>Vi är tacksamma för alla bidrag, stora som små.</p>
          <p>Vill du bidra på andra sätt är du välkommen att skicka ett mail till <a href="mailto:bidra@onlineakademin.se">bidra@onlineakademin.se</a>.</p>
        </div>

        <div class="col-md-6 contribute-numbers">
          <div id="contribute-bgc">
            <img src="images/sponsors/contribute-bgc.png" alt="Bankgiro"> 5000-0001
          </div>
          <div id="contribute-swish">
            <img src="images/sponsors/contribute-swish.png" alt="Swish"> 123-111 11 11
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

</div>
