<section class="splash-page">
  <article id="intro" class="splash-panel">
    <div class="splash-panel-content">
      <h1 class="splash-panel-title">Välkommen till Onlineakademin.</h1>
      <h2>
        Knäck mattekoden med oss.<br>
        En video om dagen.<br>
      </h2>
    </div>
    <div class="splash-panel-continue">
      {{#smooth-scroll href="#splash-text" offset="-60"}}
        Läs mer<br>
        <span class="glyphicon glyphicon-menu-down"></span>
      {{/smooth-scroll}}
    </div>
  </article>
</section>

<article id="splash-text">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>Gratis för alla för alltid.</h1>

        <p>
          På Onlineakademin finns videor som går igenom matematikkurserna på gymnasiet.
        </p>
        <p>
          Du kan plugga var du vill, när du vill och hur du vill, i ditt eget tempo.
        </p>
        <p>
          Onlineakademin är gratis för alla för alltid.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="get-started">
          {{#link-to 'nodes'}}
            Kom igång nu
          {{/link-to}}
        </div>
      </div>
    </div>

    <div class="buttons row">
      <div class="col-sm-4 col-sm-offset-2">{{#link-to 'about'}}Läs mer om oss{{/link-to}}</div>
      <div class="col-sm-4">{{#link-to 'about.contribute'}}Bidra{{/link-to}}</div>
    </div>
  </div>
</article>
