<title>Onlineakademin - gratis läxhjälp i matematik</title>
<meta name="description" content="Gratis för alla för alltid. På Onlineakademin finns videor som går igenom matematikkurserna på gymnasiet. #läxhjälp #matematik #fliptheclassrom #matte #mattehjälp #matte1 #matte2 #matte3">
<section class="splash-page">
  <article id="intro" class="splash-panel">
    <div class="splash-panel-content">
      <h1 class="splash-panel-title">Välkommen till Onlineakademin.</h1>
      <h2>
        Knäck mattekoden med oss.<br>
        En video om dagen.<br>
      </h2>
    </div>
    <div class="splash-panel-continue">
      {{#smooth-scroll href="#splash-text" offset="-60"}}
        Läs mer<br>
        <span class="glyphicon glyphicon-menu-down"></span>
      {{/smooth-scroll}}
    </div>
  </article>
</section>

<article id="splash-text">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>Gratis för alla för alltid.</h1>
        <p>
          På Onlineakademin finns videor som går igenom matematikkurserna på gymnasiet.
        </p>
        <p>
          Du kan plugga var du vill, när du vill och hur du vill, i ditt eget tempo.
        </p>
        <p>
          Onlineakademin är gratis för alla för alltid.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="get-started">
          {{#link-to 'videor'}}
            Kom igång nu
          {{/link-to}}
        </div>
      </div>
    </div>

    <div class="buttons row">
      <div class="col-sm-4 col-sm-offset-2">{{#link-to 'om'}}Läs mer om oss{{/link-to}}</div>
      <div class="col-sm-4">{{#link-to 'bidra'}}Bidra{{/link-to}}</div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>I samarbete med Mattecentrum.</h1>
        <p>
          Onlineakademin arbetar i samarbete med Mattecentrum sedan 2016.
        </p>
        <p>
          Totalt har våra ca <b>150 videor</b> visats <b>190 000 gånger</b> och i <b>440 000 visningsminuter</b>.
        </p>
        <p></p>
      </div>
    </div>
    <div class="last-button row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            {{#link-to 'om.partners'}}Läs mer om våra samarbetspartners{{/link-to}}</div>
    </div>

  </div>
</article>
