<header class="page">
  <h1>Steg 2</h1>
</header>

<div class="wrapper-with-sidebar">
  <div class="wrapper-sidebar">
      <ol class="steps">
        <li>
          <a href="#"><span class="m">1</span> Algebra och linj채ra modeller</a>
          <ol>
            <li><a href="#"><span class="m">1.1</span> Repetition av algebra och funktioner</a></li>
            <li><a href="#"><span class="m">1.2</span> R채ta linjens ekvation</a></li>
            <li><a href="#"><span class="m">1.3</span> Linj채ra ekvationssystem</a></li>
          </ol>
        </li>
        <li>
          <a href="#"><span class="m">2</span> Algebra och icke-linj채ra modeller</a>
        </li>
        <li>
          <a href="#"><span class="m">3</span> Geometri</a>
        </li>
        <li>
          <a href="#"><span class="m">4</span> Statistik</a>
        </li>
      </ol>

      <div class="social">
        <img src="images/social-youtube.svg" alt="YouTube">
        <img src="images/social-facebook.svg" alt="Facebook">
        <img src="images/social-twitter.svg" alt="Twitter">
      </div>
  </div>

  <div class="wrapper-main">
    <h2><span>1.1</span> Repetition av algebra och funktioner</h2>

    <article class="box video">
      <h1>Descartes och Kartesiska Koordinater</h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/s8GjDRT2MI0?rel=0" allowfullscreen></iframe>
      </div>
    </article>

    <article class="box video">
      <h1>Descartes och Kartesiska Koordinater</h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/s8GjDRT2MI0?rel=0" allowfullscreen></iframe>
      </div>
    </article>
  </div>
</div>
